@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.lady{
    background-image: url('../images/samanta-sokolova-t0kpF4q_ThI-unsplash.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 200vh; 
}

.lady h1{
    color:chartreuse;
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    font-family: cursive;
    padding-top: 1px;
    word-spacing: 10px;
    letter-spacing: 15px;
}

.article {
    width: 80%;
    margin: 50px auto;
    padding: 60px;
    /* border-width: 10px;
    border-color: brown;
    border-radius: 10%;
    border-style:solid;
    background-color:aqua; */
    
}
.article h1{
    text-align: center;
    font-size: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.article p{
    font-size: 30px;
    line-height: 2em;
}
.article p .imp{
    font-size: 2em;
    font-weight: 700;
    /* background-color: yellow; */
    /* display:inline-block; */
    /* width: 600px; */
    color:brown ;
}
.forest_image{
    display:flex;    
    flex-direction: row;
    gap: 20px;
}
.forest_image div{
    min-width: 300px;
}
.forest_image img{
    width: 100%;
}